
body{
  margin: 0;
}

.navbar{
  position: fixed;
  width: 100%;
  padding: 0px 30px;
  background-color: white;
  opacity: 0.7;
  }

.header{
  background-image: url("./assets/img/header.jpg");
  height: 550px;
  padding: 115px 30px;
  color: white;
}
.header > h2{
  font-size: 27px;
}
strong{
  font-weight: bolder;
}
.sub-heading{
  margin-bottom :50px;
  font-size: 20px;
}

input{
  width: 25%;
  border: none;
  border-radius: 3px;
  height: 22px;
  padding: 10px 15px;
  margin-bottom: 20px;
  font-size: 15px;
}
.btn{
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 30px;
  line-height: 1.42857143;
  background-color: #73AC43;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  transition:background-color 1s, color 1s ;
}
.btn:hover{
  color: #060605;
  background-color: #fff;
}
.services {
  background: #73AC43;
  color: white;
  padding: 40px 10px ;
  display: flex;
  justify-content: space-around;
}
.services > img{
  font-size: 19px;
}
.services > h3{
  margin-left: -35px;
}

.sectionOne{
  padding:40px;
  display: flex;
  justify-content: space-around;
}
.sectionOne-img{
  min-width: 80%;
  height: 281px;
  height:80%;
  padding:40px;
}
 .sectionOne>.info-section{
  min-width: 300px;
 }
 .info > h5{
  font-size: 24px;
 }
/* .header-inner{
  color: whitesmoke;
} */
/* .logo{
  background-color: rgb(180, 161, 161);
  padding-left: 70px;
}
*/
